@import './src/css/styles';

//TODO rename to englisch classes

.clickable {
    cursor: pointer;
}

.login-component {
    background: #fff;
    border-radius: 0.26666668rem;
    box-shadow: 0 0 0.6666667rem #888;
    color: #003;
    height: auto;
    padding: 10px;
    text-align: center;
    width: 50vw;

    .google-login {
        display: flex;
        background: none;
        font-family: Medium 5.3333335rem/8.6rem Hind Siliguri;
        margin: 0.6666667rem auto;
        outline: #0b132b;
        background-color: #fff;
        padding: 0.26666668rem;
        width: 70%;

        .google-pic {
            margin-left: 1rem;
            margin-right: 1rem;
            padding: none;
            width: 1rem;
        }
    }

    .login {
        background: #5bc0be;
        border-color: #303030;
        margin: 0.6666667rem auto;
        width: 70%;
    }

    .input-box {
        display: flex;
        height: 1.5rem;
        border: 0.06666667rem solid #0b132b;
        border-radius: 0.4rem;
        margin: 0.6666667rem auto;
        outline: none;
        padding: 0.26666668rem;
        width: 90%;

        input {
            border: none;
            background: transparent;
            outline: none;
            width: 100%;
        }
    }

    button {
        margin: 5px;
        padding: 5px;
        border: 0.06666667rem solid #0b132b;
        border-radius: 0.6666667rem;
        background: #5bc0be;
        border-color: #303030;
        margin: 0.6666667rem auto;
        width: 70%;
    }
}